@model ZPO_Projekt.Data.Entities.MedicalHistoryRecord

@{
    ViewBag.Title = "AddMedicalRecord";
}

@using (Html.BeginForm())
{
    <input type="hidden" name="FoodId" value="@ViewBag.FoodId" />
    @Html.AntiForgeryToken()
    <div class="center col-4">
        <div class="h3">MedicalHistoryRecord</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="info-section">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
            <div id="newRecordName" class="info-container">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="info-section">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
            <div id="newRecordDescription" class="info-container">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="info-section">
            @Html.LabelFor(model => model.DateOfEvent, htmlAttributes: new { @class = "" })
            <div id="newRecordDate" class="info-container">
                @Html.EditorFor(model => model.DateOfEvent, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "text-danger" })
            </div>
        </div>
        <input id="newRecordSubmit" type="submit" value="Add" class="btn" />
    </div>
}

    <div class="center">
        @Html.ActionLink("Back to List", "Index", "Order", null, htmlAttributes: new { @class = "link-dark" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
