@model ZPO_Projekt.Data.Entities.MedicalHistoryRecord

@{
    ViewBag.Title = "EditMedicalRecord";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="center col-4">
    <div class="h3">Medical History Record</div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <input type="hidden" name="FoodId" value="@ViewBag.FoodId" />
    <div id="editRecordName" class="info-section">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
        <div class="info-container">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="info-section">
        @Html.LabelFor(model => model.RecordType, htmlAttributes: new { @class = "" })
        <div id="editRecordType" class="info-container">
            @Html.EnumDropDownListFor(model => model.RecordType, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.RecordType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="info-section">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
        <div id="editRecordDescription" class="info-container">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="info-section">
        @Html.LabelFor(model => model.DateOfEvent, htmlAttributes: new { @class = "" })
        <div id="editRecordDate" class="info-container">
            @Html.EditorFor(model => model.DateOfEvent, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "text-danger" })
        </div>
    </div>
    <input id="editRecordSubmit" type="submit" value="Save" class="btn" />
</div>
}

<div class="center">
    @Html.ActionLink("Back to List", "Index", "Order", Model.Id, htmlAttributes: new { @class = "link-dark" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
