@model ZPO_Projekt.Data.Entities.Order
@using ZPO_Projekt.Data.Entities
@{
    ViewBag.Title = "Order";
}

<div class="row">
    @Html.Action("DisplayMenu")
    <div class="col-9">
        @if (Model != null)
        {
        <div class="info-section">
            <div class="row">
                <div class="h3"><i class="far fa-id-card"></i> Order data</div>
                <a id="editOrderBtn" href="@Url.Action("EditOrder", "Order", new { id = Model.Id })"><i class="fas fa-pencil-alt pencil-white"></i></a>
            </div>
            <div class="basics-container">
                <div class="row space-between">
                    <strong>Id:</strong> <span id="basics-name">@Model.Id</span>
                    <strong>Date of order:</strong> <span id="basics-birth">@Model.DateOfOrder.ToString("dd.MM.yyyy")</span>
                </div>
                <div class="row space-between">
                    <strong>Delivery Type:</strong> <span id="basics-DeliveryType">@Model.Delivery</span>
                    <strong>Client Name:</strong> <span id="basics-weight">@Model.Client.UserName</span>
                </div>
            </div>
        </div>
        }
        else
        {
        <div class="h3">Wrong data</div>
        }
    </div>
</div>
