@model ZPO_Projekt.Models.OrderViewModel
@using ZPO_Projekt.Data.Entities

@{
    ViewBag.Title = "Order";
}

<div class="row">
    @Html.Action("DisplayMenu")
    <div class="col-9">
        @if (Model != null)
        {
        <div class="info-section">
            <div class="row">
                <div class="h3"><i class="far fa-id-card"></i> Order data</div>
                <a id="editOrderBtn" href="@Url.Action("EditOrder", "Order", new { id = Model.Order.Id })"><i class="fas fa-pencil-alt pencil-white"></i></a>
            </div>
            <div class="basics-container">
                <div class="row space-between">
                    <strong>Id:</strong> <span id="basics-name">@Model.Order.Id</span>
                    <strong>Date of order:</strong> <span id="basics-birth">@Model.Order.DateOfOrder.ToString("dd.MM.yyyy")</span>
                </div>
                <div class="row space-between">
                    <strong>Delivery Type:</strong> <span id="basics-DeliveryType">@Model.Order.Delivery</span>
                    <strong>Client Name:</strong> <span id="basics-weight">@Model.Order.Client.UserName</span>
                </div>
                <div class="space-between">
                    <strong>Order:</strong><br />

                    @foreach (var Food in Model.Foods)
                    {
                    <div>
                        <span id="basics-Food">@Food.Name : @Food.Price zl</span><br />
                    </div>
                    }

                    <strong>Koszt zamowienia:</strong> <span id="basics-DeliveryType">@Model.Price zl</span>
                </div>
            </div>
        </div>
        }
        else
        {
        <div class="h3">Wrong data</div>
        }
    </div>
</div>